/* General styles */
html {
  font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center; /* Center-align text */
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center; /* Center-align horizontally */
  align-items: center; /* Center-align vertically */
  min-height: 100vh;
}

a {
  color: #0074d9; /* From http://clrs.cc */
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

#footer a {
  color: #808080; /* From http://clrs.cc */
}

#footer a:hover, a:focus {
  text-decoration: underline;
}

small {
  color: #B0B0B0;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem;
  color: #111;
  text-rendering: optimizeLegibility;
  text-align: center; /* Center-align headings */
}

h1 {
  font-size: 2.0rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

/* Paragraph and list styles */
p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left; /* Left-align text within these elements */
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
  border-left: .25rem solid #ccc;
  color: #666;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1px;
}

/* Image and grid styles */
.container img, .container iframe {
  max-width: 100%;
  display: block;
  margin: 0 auto; /* Center-align images and iframes */
}

/* Grid styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  max-width: min-content;
  background-color: #333;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  gap: 20px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 30rem) {
  html {
    font-size: 18px;
  }

  body {
    display: block;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    padding: 15px;
    max-width: 100%;
  }
}
